body,
html {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 120px;
    
}

img {
    max-height: 46px;
}

.preloader {
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -35px;
    height: 50px;
    width: 70px;
    overflow: hidden;
}

i {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    opacity: 1;
    -webkit-transform: translate3d(60px, 0, 0);
    overflow: hidden;
    text-indent: -9999px;
    border: 2px solid white;
}

i:nth-child(1) {
    background: #d14836;
    -webkit-animation: google 1.75s ease-in-out infinite;
    -moz-animation: google 1.75s ease-in-out infinite;
    -ms-animation: google 1.75s ease-in-out infinite;
    -o-animation: google 1.75s ease-in-out infinite;
    animation: google 1.75s ease-in-out infinite;
}

i:nth-child(2) {
    background: #e9b330;
    -webkit-animation: google 1.75s ease-in-out infinite;
    -moz-animation: google 1.75s ease-in-out infinite;
    -ms-animation: google 1.75s ease-in-out infinite;
    -o-animation: google 1.75s ease-in-out infinite;
    animation: google 1.75s ease-in-out infinite 0.3s;
}

i:nth-child(3) {
    background: #4285f4;
    -webkit-animation: google 1.75s ease-in-out infinite;
    -moz-animation: google 1.75s ease-in-out infinite;
    -ms-animation: google 1.75s ease-in-out infinite;
    -o-animation: google 1.75s ease-in-out infinite;
    animation: google 1.75s ease-in-out infinite 0.6s;
}

/*For Google Chrome*/
@-webkit-keyframes google {
    0% {
        opacity: 0;
        transform: translate3d(60px, 0, 0);
    }
    30% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    70% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(-300px, 0, 0);
    }
}

/*For Mozilla firefox*/
@-moz-keyframes google {
    0% {
        opacity: 0;
        transform: translate3d(60px, 0, 0);
    }
    30% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    70% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(-300px, 0, 0);
    }
}

/*For Opera Mini*/
@-o-keyframes google {
    0% {
        opacity: 0;
        transform: translate3d(60px, 0, 0);
    }
    30% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    70% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(-300px, 0, 0);
    }
}

@keyframes google {
    0% {
        opacity: 0;
        transform: translate3d(60px, 0, 0);
    }
    30% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    70% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(-300px, 0, 0);
    }
}











